.scroll {
  cursor: pointer;
  position: absolute;
  right: -50px;
  bottom: 8px;
  color: var(--dd-color-primary);
  background-color: var(--dd-color-content-bg);
  border: 1px solid var(--dd-color-primary);
  border-radius: 50%;
  padding: 8px;
  box-shadow: var(--dd-shadow);
  transition: all 0.15s ease-in-out;
  &:hover {
    color: var(--dd-color-on-primary);
    background-color: var(--dd-color-primary);
  }
}
