.terms {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  a {
    font-size: 85%;
    font-weight: 600;
    color: var(--dd-color-secondary);
    background-color: var(--dd-color-button-bg);
    border-radius: 5px;
    padding: 4px 8px;
    text-decoration: none;
    box-shadow: var(--dd-shadow);
    transition: all 0.15s ease-in-out;
    &:hover {
      background-color: var(--dd-color-button-bg-hover);
    }
  }
}
