.wrapper {
  position: relative;
  &.open {
    .picker {
      color: var(--dd-color-on-primary);
      background-color: var(--dd-color-primary);
      .icon {
        color: var(--dd-color-on-primary);
      }
    }
    .dropdown {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.picker {
  cursor: pointer;
  height: 35px;
  width: 170px;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--dd-color-primary);
  background-color: var(--dd-color-content-bg);
  border: 1px solid var(--dd-color-primary);
  border-radius: 3px;
  box-shadow: var(--dd-shadow);
  transition: all 0.15s ease-in-out;
  &:hover {
    color: var(--dd-color-on-primary);
    background-color: var(--dd-color-primary);
    .icon {
      color: var(--dd-color-on-primary);
    }
  }
  .icon {
    color: var(--dd-color-text);
    margin-right: 10px;
    transition: all 0.15s ease-in-out;
  }
}

.dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 3;
  background-color: var(--dd-color-content-bg);
  border: 1px solid var(--dd-color-input-border);
  border-radius: 3px;
  box-shadow: var(--dd-shadow);
  padding: 10px;
  font-size: 0.875rem;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  transition: all 0.25s ease;
  label {
    display: block;
    input {
      margin-right: 5px;
      accent-color: var(--dd-color-primary);
      vertical-align: middle;
      position: relative;
      bottom: 1px;
    }
  }
}
