.container {
  display: flex;
  min-width: 570px;
  font-family: var(--dd-font-family);
  color: var(--dd-color-text);
  background-color: var(--dd-color-body-bg);
}

.main {
  width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  font-size: 2em;
  line-height: 1.1;
  margin: 1.5rem 0 2rem;
  color: var(--dd-color-text);
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 2.5rem 0 1.5rem;
}

.loader {
  margin-left: 0.75rem;
}

.buttons {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  button {
    cursor: pointer;
    padding: 12px 20px;
    font-size: 0.95rem;
    font-weight: 700;
    color: var(--dd-color-button-text);
    background-color: var(--dd-color-button-bg);
    border: 1px solid var(--dd-color-button-border);
    border-radius: 0.25rem;
    box-shadow: var(--dd-shadow);
    transition: all 0.15s ease-in-out;
    &:hover {
      background-color: var(--dd-color-button-bg-hover);
    }
    &.active {
      color: var(--dd-color-on-primary);
      background-color: var(--dd-color-primary);
      pointer-events: none;
    }
    .icon {
      margin-right: 0.5rem;
    }
  }
}
