@import '../../styles/colors.scss';

.content {
  position: relative;
  background-color: $white;
  border-radius: 0.5rem;
  border: 1px solid $muted-text-color-200;
  padding: 16px;
  box-shadow: $shadow;
  min-height: 834px;
}

.count {
  font-size: 0.875rem;
  text-align: right;
  margin: 5px 0 14px;
}
