.content {
  position: relative;
  background-color: var(--dd-color-content-bg);
  border: 1px solid var(--dd-color-content-border);
  border-radius: 0.5rem;
  padding: 16px;
  box-shadow: var(--dd-shadow);
  min-height: 834px;
}

.count {
  font-size: 0.875rem;
  text-align: right;
  margin: 5px 0 14px;
}
