@import '../../styles/colors.scss';

.search {
  border-radius: 0.5rem;
  padding: 12px;
  width: 50%;
  font-size: 0.95rem;
  border: 1px solid $gray-200;
  box-shadow: $shadow;
  &:focus {
    outline: 1px solid $teal;
  }
}
