.search {
  border-radius: 0.5rem;
  padding: 12px;
  width: 50%;
  font-size: 0.95rem;
  background-color: var(--dd-color-input-bg);
  border: 1px solid var(--dd-color-input-border);
  box-shadow: var(--dd-shadow);
  &:focus {
    outline: 1px solid var(--dd-color-primary);
  }
}
