.help-icon {
  margin-right: 0.5rem;
  color: var(--dd-color-primary);
  cursor: help;
}

.help-tooltip {
  font-weight: 400;
  max-width: 190px;
  white-space: pre-wrap;
  background-color: var(--dd-color-tooltip-background) !important;
}
