@import '../../styles/colors.scss';

.help-icon {
  margin-right: 0.5rem;
  color: $teal;
  cursor: help;
}

.help-tooltip {
  font-weight: 400;
  max-width: 190px;
  white-space: pre-wrap;
  background-color: $black;
}
